<div class="container bg-white">
 <%= render 'shared/navbar' %>

  <div class="container2">
    <div class="text-center">
      <%= image_tag "LOGO1.png", style: "margin-bottom: 50px;" %>

      <%= link_to 'Water Footprint', new_water_ft_calculator_path, class: 'btn', id: 'button2' %>
      <button type="button" id="button1" data-toggle="modal" data-target="#myModal">
        Play now
      </button>

    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Modal Header</h4> -->
      </div>
      <div class="modal-body text-center">
        <div>
          <button type="button" id="button1" data-toggle="collapse" data-target="#ToggleExternalContent" aria-controls="ToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            Create a new game
          </button>
          <div class="pos-f-t">
            <div class="collapse" id="ToggleExternalContent">
              <div class="inputgame">
                <%= simple_form_for(@game) do |f| %>
                  <%= f.input :name, label: 'Give a name', error: 'Name is mandatory, please specifiy one' %>
                  <%= f.submit "Create", class: "create" %>
                <% end %>
              </div>
            </div>
          </div>
          <button type="button" id="button1" data-toggle="collapse" data-target="#ToggleExternalContent2" aria-controls="ToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            Join a game
          </button>
          <div class="pos-f-t">
            <div class="collapse" id="ToggleExternalContent2">
              <div class="inputgame">
                <%= simple_form_for(:game, url: plays_path, method: :post) do |f| %>
                  <%= f.input :name, label: 'Enter the name', error: 'Name is mandatory, please specifiy one' %>
                  <%= f.submit "Join", class: "create" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>
