<div class="<%= "d-none" if @play.user_answers.empty?  %>" id="quiz-container" data-current-step="<%= @game.current_step %>">
  <div class="container-top" style='position: fixed;
    top: 0px;left: 15px; width: 90%; justify-content: space-between'>
    <div class="card-category-questions" style="background-image:white">
      <div id ="scores"></div>
      <div style='color:#0099e6; font-size:larger; font-weight:bolder;'>
        <p class="score-question"> <%= @play.score %> </p>
      </div>
    </div>
    <%= image_tag "Quiz-Time.png", class:"quizimage"%>
    <div id="countdown" style='position: relative;'>
      <div id="countdown-number"></div>
      <div style='position:absolute; top: -37px; right: -10px; z-index: 100'>
        <div class="pie degree">
          <span class="block"></span>
          <span id="time">10</span>
        </div>
      </div>
    </div>
  </div>

  <div class="question" style='position: absolute; top: 150px; padding: 17px; color: white'>
    <% @questions.each do |question|  %>
      <% if question.kind == 'multiple-choice'|| question.kind == 'true-false'%>
        <div> <%= question.content %> </div>
        <%= simple_form_for [@play, @user_answer] do |f| %>
          <%= f.association :answer, collection: @answers, as: :radio_buttons, label: false %>
          <%= f.input :next_step, label: false, input_html: { value: @next_step, class: 'd-none'} %>
          <%= f.submit "Save", id: "submit-answer", class: 'd-none' %>
        <% end %>
      <% else %> question.kind == 'fill-in-the-blancs'%>
        <%= simple_form_for [@play, @user_answer] do |f| %>
          <p>Fill-in-the-blanks with one of the following answers: 140 or 500. </p>
          <div class='question-fill-in-the-blanks'>
            <%= question.content %>
          </div>
          <div style="visibility: hidden">
            <%= f.association :answer, collection: @answers%>
            <%= f.input :next_step, label: false, input_html: { value: @next_step, class: 'd-none'} %>
          </div>
          <%= f.submit "Save", id: "submit-answer", class: 'd-none' %>
        <% end %>
      <% end %>
      <div id="correct-answer" class="d-none"><%= question.answers.find_by(correct: true).content %></div>
    <% end %>

    <div id ="footprint">
      <%= image_tag "footprint.png", class:"footprint"%>
      <p class="score-footprint">9,000 L/day</p>
    </div>
  </div>

  <div class="bottom-container d-flex align-items-left" style='position: absolute; bottom: -40px; left: 15px'>
    <ul class="progressbar">
      <% number = @play.game.current_step %>

      <% @play.game.questions.each_with_index do |question, index| %>
      <%= @user_answers %>
      <% if index < number  - 1 %>

        <% if @play.user_answers[index] && @play.user_answers[index].answer.present? %>
          <% if  @play.user_answers[index].answer.correct? %>
            <li class="active"><% question.step %></li>
          <% else %>
            <li class="wrong"><% question.step %></li>
          <% end %>
        <% else %>
          <li class="wrong"><% question.step %></li>
        <% end %>
        <% elsif  index == number - 1 %>
          <li class="pending"><% question.step %></li>
        <% elsif %>
          <li><% question.step %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>

