<div class="home-battle">
  <div class="d-flex flex-column justify-content-between play-index-container">
    <div class="cloud-container">
      <%= image_tag "cloud.svg", class:"cloud-1" %>
      <%= image_tag "cloud.svg", class:"cloud-2" %>
      <%= image_tag "cloud.svg", class:"cloud-3" %>
    </div>
      <%= image_tag "water-drop.svg" %>
    <%= image_tag "boat.svg" %>
  </div>
</div>
