<div class="header-title">
  <h1 class="title-ft-calculators text-center">Final scores...</h1>
  <div class="bg-white"></div>
</div>

<div
  class="container margin-top-header-title"
  id="waitingroom2"
  style="position: relative;">

  <div style='position: relative;'>
    <h5 class="list-players-title">Players list</h5>
    <ul style='position: relative' class='list-scores'>

  <% if current_user.admin? %>
    <%= link_to 'Stop the game', stop_game_path(@game), class: "button-stop-game" %>
  <% end %>

      <% @plays.each do |play| %>
          <!-- <div class=""> -->
        <%# if play.user_answers.size == 5 %>
            <li><%= play.user.email %> - <%= play.score %></li>
          <!-- </div> -->
        <%# end  %>
      <% end  %>
    </ul>
  </div>


</div>

<div id="final-ranking">
  <%= render 'plays/ranking', plays: @plays %>
</div>

<% content_for :after_js do %>
  <script>
    App['game_<%= @game.id %>'] = App.cable.subscriptions.create(
      { channel: 'PlayChannel', game_id: <%= @game.id %> },
       {
        received: (data) => {
          console.log(data);
          if (data.game_finished === true) {
            let waitingRoom2 = document.getElementById('waitingroom2');
            waitingRoom2.classList.add('d-none');
            let ranking = document.getElementById('final-ranking');
            ranking.innerHTML =data.ranking_partial;
            let innerRanking = document.getElementById('players-ranking');
            innerRanking.classList.remove('d-none');
          }
          if (data.new_finisher) {
            let scores = document.querySelector(".list-scores");
            scores.insertAdjacentHTML("beforeend", "<li>" + data.new_finisher + " - "+ data.new_score + "</li>");
          }
        }
      }
    )
  </script>
<% end %>
