<div
  class="container"
  id="waitingroom2"
  style="position: relative;">

  <div>
    <h3 id="title", style='position: fixed; top: 30px; margin: auto; color: #00bcc2; font-family: Roboto, sans-serif; text-align: center'>Score...</h3>
  </div>

  <div style='position: relative;'>
    <h5>list of players:</h5>
    <ul style='position: relative' class='list-scores'>

      <% @game.plays.each do |play| %>
          <!-- <div class=""> -->
        <% if play.user_answers.size == 5 %>
            <li><%= play.user.email %> - <%= play.score %></li>
          <!-- </div> -->
        <% end  %>
      <% end  %>
    </ul>
  </div>

  <% if current_user.admin? %>
    <%= link_to 'Stop the game', stop_game_path(@game), class: "btn-launch" %>
  <% end %>

</div>

<%= render 'plays/ranking' %>

<% content_for :after_js do %>
  <script>
    App['game_<%= @game.id %>'] = App.cable.subscriptions.create(
      { channel: 'PlayChannel', game_id: <%= @game.id %> },
       {
        received: (data) => {
          console.log(data);
          if (data.game_finished === true) {
            let waitingRoom2 = document.getElementById('waitingroom2');
            waitingRoom2.classList.add('d-none');
            let ranking = document.getElementById('players-ranking');
            ranking.classList.remove('d-none');
          }
          if (data.new_finisher) {
            let scores = document.querySelector(".list-scores");
            scores.insertAdjacentHTML("beforeend", "<li>" + data.new_finisher + " - "+ data.new_score + "</li>");
          }
        }
      }
    )
  </script>
<% end %>
