<div class="container" id="waitingroom2">

  <div>
    <h3 id="title", style='position: fixed; top: 30px; margin: auto; color: #00bcc2; font-family: Roboto, sans-serif; text-align: center'>Score...</h3>

  </div>

  <div style='position: relative;'>
    <h5>list of players:</h5>
    <ul class='list-scores', style='position: relative'>

      <% @game.plays.each do |play| %>
        <% if play.finished %>

          <div class="d-flex">
            <li><%= play.user.email %></li>
            <%= play.score %>
          </div>
        <% end  %>
      <% end  %>
    </ul>

  </div>


  <% if current_user.admin? %>
    <%= link_to 'Stop the game', plays_path, class: "btn-launch" %>
  <% end %>

</div>

<%= render 'plays/ranking' %>

<% content_for :after_js do %>
  <script>
    App['game_<%= @game.id %>'] = App.cable.subscriptions.create(
      { channel: 'PlayChannel', game_id: <%= @game.id %> },
       {
        received: (data) => {
          console.log(data);
          if (data.game_finished === true) {
            let quizContainer = document.getElementById('quiz-container');
            quizContainer.classList.add('d-none');
            let waitingRoom2 = document.getElementById('waitingroom2');
            waitingRoom2.classList.remove('d-none');
          }
          if (data.new_score) {
            let scores = document.querySelector(".list-scores");
            scores.insertAdjacentHTML("beforeend", "<li>" + data.new_score + "</li>");
          }
        }
      }
    )
  </script>
<% end %>
