<div class="Players-ranking">

  <div class="bubbles"
    style="background-image: url(<%= image_path 'bubbles_image.png' %>)">

    <div class="bubble1">
      <div>
        <h1>Winner!</h1>
        <h2><%= @plays.first.user.pseudo %></h2>
        <h1><%= @plays.first.score %> points</h1>
      </div>
    </div>

    <div class="bubble2">
      <div>
        <h1><%= @plays.first.user.pseudo %>
        </br>
        <%= @plays.first.score %></h1>
      </div>
    </div>

    <div class="bubble3"
    style="background-image: url(<%= image_path 'drop-b-happy.png' %>)">
    </div>

    <div class="bubble4"
    style="background-image: url(<%= image_path 'drop-b-sad.png' %>)">
    </div>

    <div class="bubble5"
    style="background-image: url(<%= image_path 'drop-b-sad.png' %>)">
    </div>

    <div class="bubble6"
    style="background-image: url(<%= image_path 'drop-b-sad.png' %>)">
    </div>

    <div class = "battle-button">
    <%= link_to 'Water Battle', play_path(@plays.first), class: 'btn-battle', id: 'play-battle'   %>
    <!-- todo .first? -->

    </div>

  </div>
</div>

