
<div class="container <%= "d-none" unless @play.user_answers.empty? %>" id="waitingroom">

  <div>
    <h3 id="title", style='position: fixed; top: 30px; margin: auto; color: #00bcc2; font-family: Roboto, sans-serif; text-align: center'>Please wait for more players...</h3>
  </div>

  <% if current_user.admin? %>
    <%= link_to 'Launch the game', launch_game_path(@game), class: "btn-launch" %>
  <% end %>

  <div style='position: relative;'>
    <h1 id='list-of-players'>list of players:</h1>
    <ul class='list-players', style='position: relative'>
       <p id="number-players"><%= @game.plays.size %> players</p>
      <% @game.plays.each do |play| %>
        <li class='each-player'><%= play.user.email %></li>
      <% end  %>
    </ul>
  </div>



  </div>

<%= render 'plays/questions' %>


<% content_for :after_js do %>
  <script>
    const timer = () => {
  var totaltime = 10;
  var submit = document.getElementById("submit-answer");
  function update(percent){
    var deg;
    if(percent<(totaltime/2)){
      deg = 90 + (360*percent/totaltime);
        $('.pie').css('background-image',
                  'linear-gradient('+deg+'deg, transparent 50%, white 50%),linear-gradient(90deg, white 50%, transparent 50%)'
                 );
    } else if(percent>=(totaltime/2)){
            deg = -90 + (360*percent/totaltime);
            $('.pie').css('background-image',
                  'linear-gradient('+deg+'deg, transparent 50%, #1fbba6 50%),linear-gradient(90deg, white 50%, transparent 50%)'
                 );
            }
  }

  var count = parseInt($('#time').text());
  setInterval(function () {
    if (count > 0) {
      count-=1;
      $('#time').html(count);
      update(count);
    }

    if (count==0) {
       setTimeout(function() {
        let choices = document.querySelectorAll("label");
        choices.forEach((choice) => {
        let rightAnswer = document.getElementById("correct-answer").textContent;
        if (choice.textContent == rightAnswer) {
          choice.classList.add("right-answer");
          // choice.style.borderColor = "green";
          // choice.style.backgroundColor ="white";
          // choice.style.color = "green";
        }
        else {
          // choice.style.backgroundColor = "transparent";
          // choice.style.color = "white";
          choice.classList.add("other-answer");
        }
        });
        setTimeout(function() {
        submit.click()
        }, 1000);
      }, 1000);
    };
  }, 1000);
}


    App['game_<%= @play.game.id %>'] = App.cable.subscriptions.create(
      { channel: 'PlayChannel', game_id: <%= @play.game.id %> },
       {
        received: (data) => {
          console.log(data);
          if (data.game_launched === true) {
            let quizContainer = document.getElementById('quiz-container');
            quizContainer.classList.remove('d-none');
            let waitingRoom = document.getElementById('waitingroom');
            waitingRoom.classList.add('d-none');
            timer();
          }
          if (data.new_player) {
            let ul = document.querySelector(".list-players");
            ul.insertAdjacentHTML("beforeend", "<li class='each-player'>" + data.new_player + "</li>");
            let numberPlayers = document.getElementById("number-players");
            numberPlayers.innerHTML = ul.querySelectorAll("li").length + " players";
          }

        }
      }
    )
  </script>
<% end %>



