<div class="container">

  <div class="container-top" style='position: fixed;
    top: 10px;left: 30px;'>

      <div class='d-flex align-items-center'>


        <div class="cards card-category" style="background-image:white">
          Water footprint
       </div>

        <div class="card-category" style="background-image:white">
             <div id="countdown" style='position: relative;'>
                <div id="countdown-number"></div>
                <div style='position:absolute; top: -48px; right: -10px; z-index: 100'>
                  <svg>
                    <circle r="27" cx="30" cy="30"></circle>
                  </svg>
                </div>
                </div>
         </div>

        <div class="card-category" style="background-image:white">
          Total score: <%= @play.score %>
        </div>

      </div>

     </div>

  <div class="question" style='position: absolute; top: 200px; padding: 17px'>
    <p>Question</p>
          <!-- formulaire pour créer une instance de UserAnswer -->
          <!-- ce formulaire liste une question et ses answers -->
          <!-- NB: passer en params la step de la question présente pour choisir la  -->
          <!-- question au redirect -->
      <%= @question.content %>
      <%= simple_form_for [@play, @user_answer] do |f| %>
        <%= f.association :answer, collection: @answers, as: :radio_buttons %>
        <%= f.input :next_step, label: false, input_html: { value: @next_step, class: 'd-none'} %>
        <%= f.submit "Save", id: "submit-answer" %>
      <% end %>
  </div>

  <div class="bottom-container d-flex align-items-left" style='position: absolute; bottom: 0;'>
    <p> Drops Image </p>
  </div>

</div>





