<div class="container">

  <div class="container-top" style='position: fixed;
    top: 10px;left: 30px;'>

      <div class='d-flex align-items-center'>
        <div class="cards card-category" style="background-image:white">
          Water footprint
       </div>

        <div class="card-category" style="background-image:white">
             <div id="countdown" style='position: relative;'>
                <div id="countdown-number"></div>
                <div style='position:absolute; top: -48px; right: -10px; z-index: 100'>
                  <svg>
                    <circle r="27" cx="30" cy="30"></circle>
                  </svg>
                </div>
                </div>
         </div>

        <div class="card-category" style="background-image:white">
          Total score: <%= @play.score %>
        </div>

      </div>

     </div>

  <div class="question" style='position: absolute; top: 200px; padding: 17px'>

  <% @questions.each do |question|  %>
        <% if question.kind == 'multiple-choice'|| question.kind == 'true-false'%>
          <p>Question</p>
          <%= @question.content %>
          <%= simple_form_for [@play, @user_answer] do |f| %>
            <%= f.association :answer, collection: @answers, as: :radio_buttons %>
            <%= f.input :next_step, label: false, input_html: { value: @next_step, class: 'd-none'} %>
            <%= f.submit "Save", id: "submit-answer" %>
          <% end %>
        <% elsif question.kind == 'fill-in-the-blancs'%>
          <p>Fill-in-the-blanks with one of the following answers: 1000, 500, 58, 10. </p>
          <div class='question-fill-in-the-blanks'>
            <%= @question.content %>
          </div>
          <%= simple_form_for [@play, @user_answer] do |f| %>
            <div style="visibility: hidden">
              <%= f.association :answer, collection: @answers%>
              <%= f.input :next_step, label: false, input_html: { value: @next_step, class: 'd-none'} %>
            </div>
            <%= f.submit "Save", id: "submit-answer" %>
          <% end %>
        <% else %>
          <p>Question to be determined</p>
          <%= simple_form_for [@play, @user_answer] do |f| %>
            <%= f.association :answer, collection: @answers, as: :radio_buttons %>
            <%= f.input :next_step, label: false, input_html: { value: @next_step, class: 'd-none'} %>
            <%= f.submit "Save", id: "submit-answer" %>
          <% end %>
        <% end %>
      <% end %>

  </div>




<!-- trial-fill-in-the-blanks

<p>We eat <input times more water than we drink.</p>

 -->



  <div class="bottom-container d-flex align-items-left" style='position: absolute; bottom: 0;'>
    <ul class="progressbar">
      <% number = @play.game.current_step %>
      <% @play.game.questions.each_with_index do |question, index| %>
        <% if index < number %>
          <li class="active"><%= question.step %></li>
        <% else %>
          <li><%= question.step %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
