
<div class="container <%= "d-none" unless @play.user_answers.empty? %>" id="waitingroom">

  <div>
    <h3 id="title", style='position: fixed; top: 30px; margin: auto; color: #00bcc2; font-family: Roboto, sans-serif; text-align: center'>Please wait for more players...</h3>

  </div>

  <div style='position: relative;'>
    <h5>list of players:</h5>
    <ul class='list-players', style='position: relative'>

      <% @game.plays.each do |play| %>
        <li><%= play.user.email %></li>
      <% end  %>
    </ul>

    <p id="number-players"><%= @game.plays.size %> players</p>
  </div>


  <% if current_user.admin? %>
    <%= link_to 'Launch the game', launch_game_path(@game), class: "btn-launch" %>
  <% end %>

</div>

<%= render 'plays/questions' %>

<% content_for :after_js do %>
  <script>
    App['game_<%= @play.game.id %>'] = App.cable.subscriptions.create(
      { channel: 'PlayChannel', game_id: <%= @play.game.id %> },
       {
        received: (data) => {
          console.log(data);
          if (data.game_launched === true) {
            let quizContainer = document.getElementById('quiz-container');
            quizContainer.classList.remove('d-none');
            let waitingRoom = document.getElementById('waitingroom');
            waitingRoom.classList.add('d-none');
          }
          if (data.new_player) {
            let ul = document.querySelector(".list-players");
            ul.insertAdjacentHTML("beforeend", "<li>" + data.new_player + "</li>");
            let numberPlayers = document.getElementById("number-players");
            numberPlayers.innerHTML = ul.querySelectorAll("li").length + " players";
          }

        }
      }
    )
  </script>
<% end %>



