<div class="container">
  
  <div class="container-top" style='position: fixed;
    top: 10px;left: 40px;'>

      <div class='d-flex align-items-center'>
        
        
        <div class="cards card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
          Water footprint
       </div>
    
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
             <div id="countdown">
                <div id="countdown-number"></div>
                <svg>
                  <circle r="18" cx="20" cy="20"></circle>
                </svg>
              </div>
         </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          Total score: <%= @play.score %>
        </div>
        
      </div> 

     </div> 
  
  <div class="question" style='position: absolute; top: 200px; padding: 17px'>
    <p>Question</p>
          <!-- formulaire pour créer une instance de UserAnswer -->
          <!-- ce formulaire liste une question et ses answers -->
          <!-- NB: passer en params la step de la question présente pour choisir la  -->
          <!-- question au redirect -->
      <%= @question.content %>
      <%= simple_form_for [@play, @user_answer] do |f| %>
        <%= f.association :answer, collection: @answers, as: :radio_buttons %>
        <%= f.input :next_step, label: false, input_html: { value: @next_step, class: 'd-none'} %>
        <%= f.submit "Save", id: "submit-answer" %>
      <% end %>
  </div>
        
  <div class="bottom-container d-flex align-items-left" style='position: absolute; bottom: 0;'>
    <p> Drops Image </p>
  </div>

</div>





