<div class="onboarding">
  <div class="slider">
    <div class="slide" data-slide="1">
      <%= image_tag "LOGO1.png", class:"logo" %>
      <%= image_tag "Orion_water.svg", class:"img chat-bubbles" %>
      <p><b>72% of Earth is water-covered</b></p>
      <p>
        Only 0,60% is usable
      </p>
    </div>

    <div class="slide d-none" data-slide="2">
      <%= image_tag "LOGO1.png", class:"logo" %>
      <%= image_tag "Orion_water.svg", class:"img chat-bubbles" %>
      <p><b>2030 : the world will face</b></p>
      <p>
      a 40% global water deficit !
      </p>
    </div>

    <div class="slide d-none" data-slide="3">
      <%= image_tag "LOGO1.png", class:"logo" %>
      <%= image_tag "Orion_water.svg", class:"img chat-bubbles" %>
      <p><b>But we can reverse the bad trend!</b></p>
    </div>

    <!--
    <div class="slide">
      <p
        style="
          font-size: 20px;
          letter-spacing: .25em;
          color: #00bcc2;
          margin: 40px 0px 100px 0px;
      ">
        WATER STRESS
      </p>
      <#%= image_tag "water-double.svg", class:"img swords" %>
      <p>
        Water resources remain constant
      </p>
      <p>
        but:
      </p>
      <p>
        Human needs rise.
      </p>
      <p>
        Consumption increases 2X faster than population growth.
      </p>
      <p>
        Polution & global warming reduce water availability.
      </p>
    </div>
    <div class="slide">
      <p style="
        font-size: 20px;
        letter-spacing: .25em;
        color: #00bcc2;
        margin: 40px 0px 100px 0px;
      ">WATER CRISIS</p>
      <#%= image_tag "Orion_water-droplet.svg", class:"img brain-bulb", id:"img-3" %>
      <p>
        <b>2030</b>
      </p>
      <p>
        Global demand will exceed the supply by over 40%.
      </p>
      <p>
        60% world population will experience water scarcity.
      </p>
    </div> -->
  </div>
  <div class="controls">
    <form>
      <input type="radio" name="page" checked data-slide-input="1">
      <label for="page"></label>
      <input type="radio" name="page" data-slide-input="2">
      <label for="page"></label>
      <input type="radio" name="page" data-slide-input="3">
      <label for="page"></label>
    </form>

    <a href="#" class="btn-next" id="btn_next" data-current-slide="1">Next</a>
    <a href="/profile" class="btn-next d-none" id="play">Play now</a>
  </div>
</div>
<!--

<div class="toast">View in <a href="https://codepen.io/enahom99/full/EEgPQP/" target="_blank">Full Page</a></div> -->


