<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%#= render 'shared/navbar' %>
      <div class='water-container d.flex justify-content-center col-12 col-lg-6'>
       <%= image_tag "water_4.svg", class:"water water-4" %>
       <%= image_tag "water_3.svg", class:"water water-3" %>
       <%= image_tag "water_2.svg", class:"water water-2" %>
       <%= image_tag "water_1.svg", class:"water water-1" %>
      </div>


    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
